---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Reliable, efficient delivery">

	<!-- 
			<div class="hidden lg:flex absolute w-full flex-col justify-center items-center py-10">
			<h1 class=" text-2xl lg:text-5xl font-thin">  Reliable, efficient delivery</h1>
			<h2 class=" text-2xl lg:text-5xl font-medium mt-3 mb-9">Powered by Technology</h2>
			<p class=" text-sm px-10 text-center text-[#a3a5ae]">Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successful</p>
		</div>-->
	<main class=" font-Poppins text-[#4c4e61]">

<!-- Title -->

		<div class="flex flex-col justify-center items-center pt-10">
			<h1 class=" text-2xl lg:text-5xl font-thin">  Reliable, efficient delivery</h1>
			<h2 class=" text-2xl lg:text-5xl font-medium mt-3 mb-9">Powered by Technology</h2>
			<p class=" text-sm w-72 lg:w-[500px] text-center text-[#a3a5ae]">Our Artificial Intelligence powered tools use millions of project data points to ensure that your project is successful</p>
		</div>



		<!-- Desktop section for the cards -->


		 <section class=" hidden lg:flex justify-center gap-x-5 ">

		 <div class=" grid grid-rows-3">
				<div class=" row-start-2 bg-white w-[350px] h-[250px] rounded-lg overflow-hidden shadow-lg">

				<div class=" h-1 bg-[#45d3d3]"></div>

				<div class=" p-6 space-y-5">
				<h1 class=" text-2xl font-medium">Supervisor</h1>
				<p class=" text-sm text-[#a3a5ae] font-light">Monitors activity to identify project <br> roadblocks</p>
	
				<div class=" flex flex-grow justify-end">
					<img src="icon-supervisor.svg" alt="supervisor icon">
				</div>
				
			</div>

			</div>
		</div>


		<div class=" grid grid-rows-2 gap-y-5">
			<div class=" row-start-1 place-self-end bg-white w-[350px] h-[250px] rounded-lg overflow-hidden shadow-lg">
				<div class=" h-1 bg-[#ea5353]"></div>

				<div class=" p-6 space-y-5">
				<h1 class=" text-2xl font-medium">Team Builder</h1>
				<p class=" text-sm text-[#a3a5ae] font-light">Scans our talent network to create the optimal team for your project</p>

				<div class=" flex flex-grow justify-end">
					<img src="icon-team-builder.svg" alt="supervisor icon">
				</div>
				
			</div>
			</div>

			<div class=" row-start-2 place-self-start bg-white w-[350px] h-[250px] rounded-lg overflow-hidden shadow-lg">
				<div class=" h-1 bg-[#fcaf4a]"></div>

				<div class=" p-6 space-y-5">
				<h1 class=" text-2xl font-medium">Karma</h1>
				<p class=" text-sm text-[#a3a5ae] font-light">Regularly evaluates our talent to ensure <br> quality</p>

				<div class=" flex flex-grow justify-end">
					<img src="icon-karma.svg" alt="supervisor icon">
				</div>
				
			</div>	
			</div>

		</div>


		<div class=" grid grid-rows-3">
			<div class=" row-start-2 bg-white w-[350px] h-[250px] rounded-lg overflow-hidden shadow-lg">


				<div class=" h-1 bg-[#549ef2]"></div>

				<div class=" p-6 space-y-5">
				<h1 class=" text-2xl font-medium">Calcularor</h1>
				<p class=" text-sm text-[#a3a5ae] font-light">Uses data from past projects to provide better delivery estimates</p>

				<div class=" flex flex-grow justify-end">
					<img src="icon-calculator.svg" alt="supervisor icon">
				</div>
				
			</div>

		</div>
	</div>



	</section>
		



<!-- Mobile section for the cards -->

	<section class=" flex flex-col lg:hidden justify-center space-y-5 px-5 my-10">

		<div class="">
			   <div class=" row-start-2 bg-white rounded-lg overflow-hidden shadow-lg">

			   <div class=" h-1 bg-[#45d3d3]"></div>

			   <div class=" p-6 space-y-5">
			   <h1 class=" text-2xl font-medium">Supervisor</h1>
			   <p class=" text-sm text-[#a3a5ae] font-light">Monitors activity to identify project <br> roadblocks</p>
   
			   <div class=" flex flex-grow justify-end">
				   <img src="icon-supervisor.svg" alt="supervisor icon">
			   </div>
			   
		   </div>

		   </div>
	   </div>



		   <div class=" bg-white  rounded-lg overflow-hidden shadow-lg">
			   <div class=" h-1 bg-[#ea5353]"></div>

			   <div class=" p-6 space-y-5">
			   <h1 class=" text-2xl font-medium">Team Builder</h1>
			   <p class=" text-sm text-[#a3a5ae] font-light">Scans our talent network to create the optimal team for your project</p>

			   <div class=" flex flex-grow justify-end">
				   <img src="icon-team-builder.svg" alt="supervisor icon">
			   </div>
			   
		   </div>
		   </div>

		   <div class="  bg-white rounded-lg overflow-hidden shadow-lg">
			   <div class=" h-1 bg-[#fcaf4a]"></div>

			   <div class=" p-6 space-y-5">
			   <h1 class=" text-2xl font-medium">Karma</h1>
			   <p class=" text-sm text-[#a3a5ae] font-light">Regularly evaluates our talent to ensure quality</p>

			   <div class=" flex flex-grow justify-end">
				   <img src="icon-karma.svg" alt="supervisor icon">
			   </div>
			   
		   </div>	
		   </div>




	   <div class=" ">
		   <div class="  bg-white  rounded-lg overflow-hidden shadow-lg">


			   <div class=" h-1 bg-[#549ef2]"></div>

			   <div class=" p-6 space-y-5">
			   <h1 class=" text-2xl font-medium">Calcularor</h1>
			   <p class=" text-sm text-[#a3a5ae] font-light">Uses data from past projects to provide better delivery estimates</p>

			   <div class=" flex flex-grow justify-end">
				   <img src="icon-calculator.svg" alt="supervisor icon">
			   </div>
			   
		   </div>

	   </div>
   </div>



   </section>
	</main>
</Layout>

